#!/bin/sh

## 修改日期：2020-11-10
## 作者：Evine Deng <evinedeng@foxmail.com>

export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/data/data/com.termux/files/usr/bin:/data/data/com.termux/files/usr/bin/applets"
export LC_ALL=C


################################## 定义用户数量（必填） ##################################
## 请填入总共有多少个京东用户的账号，这里定义了多少个，在下面定义的Cookie、ForOtherFruit、ForOtherPet、ForOtherPlantBean、ForOtherSuperMarket数量就应当有多少个。
## 比如UserSum为4，那么Cookie、ForOtherFruit、ForOtherPet、ForOtherPlantBean、ForOtherSuperMarket都只有编号1-4的变量生效
UserSum=


################################## 定义Cookie（必填） ##################################
## 请依次填入每个用户的Cookie，Cookie的具体形式：pt_key=xxxxxxxxxx;pt_pin=xxxx;
## 获取Cookie的具体教程：https://github.com/lxk0301/jd_scripts/blob/master/backUp/GetJdCookie.md 或 https://github.com/lxk0301/jd_scripts/blob/master/backUp/GetJdCookie2.md
## UserSum定义了多少个，Cookie就必须输入多少个，按数字顺序1、2、3、4...依次编号下去。
## 不允许有汉字，如果ID有汉字，请在PC浏览器上获取Cookie，会自动将汉字转换为URL编码。
Cookie1=""
Cookie2=""
Cookie3=""
Cookie4=""
Cookie5=""
Cookie6=""


################################## 定义是否自动删除失效的脚本与定时任务（选填） ##################################
## 有的时候，某些JS脚本只在特定的时间有效，过了时间就失效了，lxk0301 大佬会在Github Action中删除，但如果是本地任务，则不会自动删除
## 需要自动删除失效的本地定时任务，则设置为 true ，否则请设置为 false
AutoDelCron="true"


################################## 定义是否自动增加新的本地定时任务（选填） ##################################
## lxk0301 大佬会在有需要的时候，增加定时任务，如需要本地自动增加新的定时任务，则设置为 true ，否则请设置为 false
## 当设置为 true 时，如果检测到 scripts/docker/crontab_list.sh 中有增加新的定时任务，那么在本地也增加
## 本功能生效时，会自动从 scripts/docker/crontab_list.sh 文件新增加的任务中读取时间，该时间为北京时间
AutoAddCron="true"


################################## 定义通知TOKEN（选填） ##################################
## 想通过什么渠道收取通知，就填入对应渠道的值
## ServerChan，教程：http://sc.ftqq.com/3.version
SCKEY=""

## BARK，如需使用，BARK_PUSH和BARK_SOUND必须同时赋值，教程：https://github.com/lxk0301/jd_scripts/blob/master/githubAction.md，看BARK部分
BARK_PUSH=""
BARK_SOUND=""

## Telegram，如需使用，TG_BOT_TOKEN和TG_USER_ID必须同时赋值，教程：https://github.com/lxk0301/jd_scripts/pull/37#issuecomment-692415594
TG_BOT_TOKEN=""
TG_USER_ID=""

## 钉钉，教程：https://github.com/lxk0301/jd_scripts/blob/master/githubAction.md，看DD_BOT_TOKEN和DD_BOT_SECRET部分
DD_BOT_TOKEN=""
DD_BOT_SECRET=""

## iGot聚合推送，支持多方式推送，确保消息可达。教程：https://wahao.github.io/Bark-MP-helper/#/
## 此处填写iGot的推送key
IGOT_PUSH_KEY=""


################################## 定义东东农场每个人自己的互助码（选填） ##################################
## 东东农场每个人自己的互助码，可以在运行一次东东农场脚本（jd_fruit）后从日志中查看
## 约定：MyFruit后面的编号为数字的是提供了Cookie的账号所对应的互助码，编号与Cookie编号一一对应，如MyFruit1、MyFruit2
## 约定：MyFruit后面的编号为大写字母的是未提供Cookie的账号所对应的互助码（即想为其他人助力），如MyFruitA、MyFruitB
MyFruit1=""
MyFruit2=""
MyFruit3=""
MyFruit4=""
MyFruit5=""
MyFruit6=""
MyFruitA=""
MyFruitB=""


################################## 定义东东农场要为哪些人助力（选填） ##################################
## 1.每账号一天可助力4次，超出的无法被助力，想要为谁助力，添加上面定义的MyFruit变量就可以
## 2.js脚本要求每个互助码间需要使用@隔开，为保证shell脚本能将@正确传递，需要写作"\@"，包括双引号
## 3.MyFruit系列变量中没有赋值的不能填写在下方，比如：上面未赋值的 MyFruitA；另外，也不能为自己助力
## 4.举例：ForOtherFruit1=${MyFruit2}"\@"${MyFruit3}"\@"${MyFruit4}"\@"${MyFruit6} ，含义是Cookie1的账户将为Cookie2、Cookie3、Cookie4、Cookie6的账户提供助力
## 5.UserSum定义了多少个，ForOtherFruit就只能且必须多少个（从1开始计），超出的无效
## 6.可以不赋值，如：ForOtherFruit2=""，这种情况下，在运行js脚本时将给js脚本作者lxk0301大佬助力
ForOtherFruit1=
ForOtherFruit2=
ForOtherFruit3=
ForOtherFruit4=
ForOtherFruit5=
ForOtherFruit6=


################################## 定义东东萌宠每个人自己的互助码（选填） ##################################
## 东东萌宠每个人自己的互助码，可以在运行一次东东萌宠脚本（jd_pet）后从日志中查看
## 约定：MyPet后面的编号为数字的是提供了Cookie的账号所对应的互助码，编号与Cookie编号一一对应，如MyPet1、MyPet2
## 约定：MyPet后面的编号为大写字母的是未提供Cookie的账号所对应的互助码（即想为其他人助力），如MyPetA、MyPetB
MyPet1=""
MyPet2=""
MyPet3=""
MyPet4=""
MyPet5=""
MyPet6=""
MyPetA=""
MyPetB=""


################################## 定义东东萌宠要为哪些人助力（选填） ##################################
## 1.每账号一天可助力5次，超出的无法被助力，想要为谁助力，添加上面定义的MyPet变量就可以
## 2.js脚本要求每个互助码间需要使用@隔开，为保证shell脚本能将@正确传递，需要写作"\@"，包括双引号
## 3.MyPet系列变量中没有赋值的不能填写在下方，比如：上面未赋值的 MyPetA；另外，也不能为自己助力
## 4.举例：ForOtherPet1=${MyPet2}"\@"${MyPet3}"\@"${MyPet4}"\@"${MyPet5}"\@"${MyPetA} ，含义是Cookie1的账户将为Cookie2、Cookie3、Cookie4、Cookie5的账户以及单独只提供了互助码的A用户提供助力
## 5.UserSum定义了多少个，ForOtherPet就只能且必须多少个（从1开始计），超出的无效
## 6.可以不赋值，如：ForOtherPet1=""，这种情况下，在运行js脚本时将给js脚本作者lxk0301大佬助力
ForOtherPet1=
ForOtherPet2=
ForOtherPet3=
ForOtherPet4=
ForOtherPet5=
ForOtherPet6=


################################## 定义种豆得豆每个人自己的互助码（选填） ##################################
## 种豆得豆每个人自己的互助码，可以在运行一次种豆得豆脚本（jd_plantBean）后从日志中查看
## 约定：MyPlantBean后面的编号为数字的是提供了Cookie的账号所对应的互助码，编号与Cookie编号一一对应，如MyPlantBean1、MyPlantBean2
## 约定：MyPlantBean后面的编号为大写字母的是未提供Cookie的账号所对应的互助码（即想为其他人助力），如MyPlantBeanA、MyPlantBeanB
MyPlantBean1=""
MyPlantBean2=""
MyPlantBean3=""
MyPlantBean4=""
MyPlantBean5=""
MyPlantBean6=""
MyPlantBeanA=""
MyPlantBeanB=""


################################## 定义种豆得豆要为哪些人助力（选填） ##################################
## 1.每账号一天可助力3次，超出的无法被助力，想要为谁助力，添加上面定义的MyPlantBean变量就可以
## 2.js脚本要求每个互助码间需要使用 @ 隔开，为保证 shell 脚本能将 @ 正确传递给 js ，需要写作"\@"，包括双引号
## 3.MyPlantBean系列变量中没有赋值的不能填写在下方，比如：上面未赋值的 MyPlantBeanB；另外，也不能为自己助力
## 4.举例：ForOtherPlantBean1=${MyPlantBean2}"\@"${MyPlantBeanA} ，含义是Cookie1的账户将为Cookie2的账户以及单独只提供了互助码的A用户提供助力
## 5.UserSum定义了多少个，ForOtherPlantBean就只能且必须有多少个（从1开始计），超出的无效
## 6.可以不赋值，如：ForOtherPlantBean5=""，这种情况下，在运行js脚本时将给js脚本作者lxk0301大佬助力
ForOtherPlantBean1=
ForOtherPlantBean2=
ForOtherPlantBean3=
ForOtherPlantBean4=
ForOtherPlantBean5=
ForOtherPlantBean6=


################################## 定义东东超市商圈每个人自己的互助码（选填） ##################################
## 东东超市商圈每个人自己的互助码，可以在运行一次东东超市脚本（jd_superMarket）后从日志中查看
## 约定：MySuperMarket后面的编号为数字的是提供了Cookie的账号所对应的互助码，编号与Cookie编号一一对应，如MySuperMarket1、MySuperMarket2
## 约定：MySuperMarket后面的编号为大写字母的是未提供Cookie的账号所对应的互助码（即想为其他人助力），如MySuperMarketA、MySuperMarketB
## 东东超市目前暂无助力功能
# MySuperMarket1=""
# MySuperMarket2=""
# MySuperMarket3=""
# MySuperMarket4=""
# MySuperMarket5=""
# MySuperMarket6=""
# MySuperMarketA=""
# MySuperMarketB=""


################################## 定义东东超市商圈要为哪些人助力（选填） ##################################
## 1.想要为谁助力，添加上面定义的MySuperMarket变量就可以
## 2.js脚本要求每个互助码间需要使用 @ 隔开，为保证 shell 脚本能将 @ 正确传递给 js ，需要写作"\@"，包括双引号
## 3.MySuperMarket系列变量中没有赋值的不能填写在下方，比如：上面未赋值的 MySuperMarketB；另外，也不能为自己助力
## 4.举例：ForOtherSuperMarket1=${MySuperMarket2}"\@"${MySuperMarketA} ，含义是Cookie1的账户将为Cookie2的账户以及单独只提供了互助码的A用户提供助力
## 5.UserSum定义了多少个，ForOtherSuperMarket就只能且必须有多少个（从1开始计），超出的无效
## 6.可以不赋值，如：ForOtherSuperMarket2=""，这种情况下，在运行js脚本时将给js脚本作者lxk0301大佬助力
## 东东超市目前暂无助力功能
# ForOtherSuperMarket1=
# ForOtherSuperMarket2=
# ForOtherSuperMarket3=
# ForOtherSuperMarket4=
# ForOtherSuperMarket5=
# ForOtherSuperMarket6=


################################## 定义东东超市蓝币兑换数量（选填） ##################################
## 东东超市蓝币兑换，可用值包括：
## 一、1至20中的一个整数：表示兑换1-20个京豆，如：coinToBeans=10
## 二、1000：表示兑换1000个京豆，如：coinToBeans=1000
## 三、可兑换清单的商品名称，输入关键词即可，比如：coinToBeans="抽纸"
## js脚本默认为0，即为不自动兑换，另外，具体可以兑换哪些商品请自行在东东超市游戏中去查阅
## 注意：有些比较贵的实物商品京东只是展示出来忽悠人的，即使你零点用脚本去抢，也会提示没有或提示已下架
coinToBeans=0


################################## 定义东东超市蓝币成功兑换奖品是否静默运行（选填） ##################################
## 默认关闭（即:奖品兑换成功后会发出通知提示），如需要静默运行不发出通知，请改为 true
NotifyBlueCoin=""


################################## 定义东东超市是否自动升级商品和货架（选填） ##################################
## 升级顺序：解锁升级商品、升级货架，默认自动升级，如需关闭自动升级，请改为 false
superMarketUpgrade=""


################################## 定义东东超市是否自动更换商圈（选填） ##################################
## 小于对方300热力值自动更换商圈队伍，默认允许自动更换，如不想更换商圈，请改为 false
businessCircleJump=""


################################## 定义东东超市是否自动使用金币去抽奖（选填） ##################################
## 是否用金币去抽奖，默认关闭，如需开启，请修改为 true
drawLotteryFlag=""


################################## 定义东东农场是否静默运行（选填） ##################################
## 默认为 false，不静默，发送推送通知消息，如不想收到通知，请修改为 true
NotifyFruit=""


################################## 定义东东农场是否使用水滴换豆卡（选填） ##################################
## 如果出现限时活动时100g水换20豆，此时比浇水划算，true表示换豆（不浇水），false表示不换豆（继续浇水）,js脚本默认是false（继续浇水）
## 如需切换为换豆（不浇水），请修改为 true
jdFruitBeanCard=""


################################## 定义宠汪汪喂食克数（选填） ##################################
## 你期望的宠汪汪每次喂食克数，只能填入10、20、40、80，默认为10
## 如实际持有食物量小于所设置的克数，js脚本会自动降一档，直到降无可降
## 具体情况请自行在宠汪汪游戏中去查阅攻略
joyFeedCount=80


################################## 定义宠汪汪兑换京豆数量（选填） ##################################
## 目前的可用值包括：0、20、500、1000，其中0表示为不自动兑换京豆，详情请见宠汪汪游戏中兑换京豆选项，高等级可以兑换更高的京豆。
## 如不设置，将默认为20。设置了并且你也有足够积分时，也并不代表就一定能抢到。
joyRewardName=20


################################## 定义宠汪汪兑换京豆是否静默运行（选填） ##################################
## 默认为false，在成功兑换京豆时将发送推送通知消息（失败不发送），如想要静默不发送通知，请修改为 true
NotifyJoyReward=""


################################## 定义宠汪汪偷取好友积分与狗粮是否静默运行（选填） ##################################
## 默认为false，将发送推送通知消息，如想要静默不发送通知，请修改为 true
NotifyJoySteal=""


################################## 定义宠汪汪是否静默运行（选填） ##################################
## 默认为true，静默，不发送推送通知消息，如想要收到通知，请修改为 false
NotifyJoy=""


################################## 定义宠汪汪是否自动给好友的汪汪喂食（选填） ##################################
## 默认为不会自动给好友的汪汪喂食，如想自动喂食，请改成 true
jdJoyHelpFeed=""


################################## 定义宠汪汪是否自动偷好友积分与狗粮（选填） ##################################
## 默认自动偷取，如不想自动偷取，请改成 false
jdJoyStealCoin=""


################################## 定义宠汪汪是否自动报名宠物赛跑（选填） ##################################
## 默认参加宠物赛跑，如需关闭，请改成 false
joyRunFlag=""


################################## 定义东东萌宠是否静默运行（选填） ##################################
## 默认 false（不静默，发送推送通知消息），如想静默请修改为 true
NotifyPet=""


################################## 定义手机狂欢城是否发送上车提醒（选填） ##################################
## 情况请见jd_818的日志，默认为false，不发送上车提醒，如想要收到提醒，请修改为 true
Notify818=""


################################## 定义取关参数（选填） ##################################
## jd_unsubscribe这个任务是用来取关每天做任务关注的商品和店铺，默认在每次运行时取关20个商品和20个店铺
## 如果取关数量不够，可以根据情况增加，还可以设置 jdUnsubscribeStopGoods 和 jdUnsubscribeStopShop 
## 商品取关数量
goodPageSize=50
## 店铺取关数量
shopPageSize=50
## 遇到此商品不再取关此商品以及它后面的商品，需去商品详情页长按拷贝商品信息，需要用一对双引号括起来
jdUnsubscribeStopGoods=""
## 遇到此店铺不再取关此店铺以及它后面的店铺，请从头开始输入店铺名称，需要用一对双引号括起来
jdUnsubscribeStopShop=""


################################## 定义文件路径（勿动） ##################################
ShellDir=$(cd $(dirname $0); pwd)


################################## 调用 git_pull_function.sh（勿动） ##################################
chmod +x ${ShellDir}/git_pull_function.sh
. ${ShellDir}/git_pull_function.sh
