#!/usr/bin/env bash

## Author: Evine Deng
## Source: https://github.com/EvineDeng/jd-base
## Modified： 2020-12-08
## Version： v2.3.9

################################## 定义自动删除多少天以前的日志 ##################################
## 如果需要，请修改你想在运行此脚本时，删除多少天以前的日志。单位：天
HowManyDays=7


################################## 以下勿动 ##################################
RootDir=$(cd $(dirname $0); cd ..; pwd)
LogDir=${RootDir}/log
LogFileList=$(ls -l ${LogDir}/jd_*/*.log | awk '{print $9}')

for log in ${LogFileList}
do
  LogDate=$(echo ${log} | awk -F "/" '{print $NF}' | cut -c1-10)   #文件名比文件属性获得的日期要可靠
  if [[ $(uname -s) == Darwin ]]
  then
    DiffTime=$(($(date +%s) - $(date -j -f "%Y-%m-%d" "${LogDate}" +%s)))
  else
    DiffTime=$(($(date +%s) - $(date +%s -d "${LogDate}")))
  fi
  [ ${DiffTime} -gt $((${HowManyDays} * 86400)) ] && rm -f ${log}
done
