#!/bin/sh

## 修改日期：2020-10-19
## 作者：Evine Deng <evinedeng@foxmail.com>

export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/data/data/com.termux/files/usr/bin:/data/data/com.termux/files/usr/bin/applets"
export LC_ALL=C


################################## 定义自动删除多少天以前的日志 ##################################
## 如果需要，请修改你想在运行此脚本时，删除多少天以前的日志。单位：天
HowManyDays=30



################################## 以下勿动 ##################################
ShellDir=$(cd $(dirname $0); pwd)
RootDir=$(cd $(dirname $0); cd ..; pwd)
LogDir=${RootDir}/log
LogFileList=$(ls -l ${LogDir}/*/*.log | awk '{print $9}')


for i in ${LogFileList}
do
  LogDate=$(echo $i | awk -F "/" '{print $NF}' | cut -c1-10)   #文件名比文件属性获得的日期要可靠
  DiffTime=$(($(date +%s) - $(date +%s -d "${LogDate}")))
  if [ ${DiffTime} -gt $((${HowManyDays} * 86400)) ]; then
    rm -vf $i
  fi
done
